---
layout: default
title: Home
---

<div class="posts">

  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }} {{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date" id = "{{post.date}}">{{ post.date | date_to_string }}</span>

    <!-- 获取标签 -->
    <script type="text/javascript">
    var str = '[\
                  { \
                    "title" : "{{ post.title }}" ,\
                    "tags"  : "{{ post.tags }}" \
                  }\
               ]'
    handleJSON(str,'{{ post.date }}','{{site.url}}',false);
    </script>
    {{ post.excerpt }}

  </div>
  {% endfor %}
</div>

<!-- 翻页 -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">下一页</a>
  {% else %}
    <span class="pagination-item older">下一页</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">上一页</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">上一页</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">上一页</span>
  {% endif %}
</div>

<!-- <script type="text/javascript">
var str = '{ {% for post in site.posts %} "{{ post.title }}" : {"tags":"{{ post.tags }}"}  {% if forloop.last == false %}, {% endif %}{% endfor %} }'
handleJSON(str);
</script> -->
