/*body{*/
  /*background: url("../../assets/bg.gif");*/
/*}*/
/*.masthead{*/
    /*background-color: white;*/
/*}*/
/*.content{*/
    /*background-color: white;*/
/*}*/
.tagsPanel{
  margin-bottom: 3rem;
  background-color: inherit;
  text-align: left;
}

.tag{
   display: inline-block;
   height: 40px;
   line-height: 40px;
   padding: 0px 10px;
   margin: 0px 10px;
   text-decoration: none;
}
.tag:hover{
  text-decoration: none;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.selectTag:hover{
  text-decoration: none;
}
.selectTag{
    background-color: #e5e5e5;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    display: inline-block;
}
